@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #363062;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #4D4C7D;
  /* border: 2px solid white; */
  max-width: 550px;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px black;
}

.slider {
  background-color: #E9D5DA;
  /* border: 2px solid red; */
  width: 400%;
  height: 100%; 
  display: flex;
}

.slide {
  width: 25%;
}

img {
  width: 100%;
  height: 100%;
}

.navigation {
  background-color: #827397;
  /* border: 2px solid rgb(249, 249, 4); */
  width: 100%;
  height: 50px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.text-container {
  width: 25%;
  overflow: hidden;
}

.text {
  /* border: 2px solid rgb(4, 255, 0); */
  width: 400%;
  display: flex;
  overflow: hidden;
}

.text-content {
  width: 25%;
  font-family: 'Roboto', sans-serif;
  color: #E9D5DA;
}

.buttons {
  /* border: 2px solid rgb(0, 42, 255); */
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  background-color: transparent;
  /* margin: 5px; */
  height: 2em;
  width: 2em;
  transition: ease-in-out 0.3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  /* border: solid 3px #E9D5DA; */
  height: 1em;
  width: 1em;
  background-color: #E9D5DA;
  border-radius: 50%;
}

label:hover > .button {
  background-color: beige;
}

input[name="radioinput"] {
  visibility: hidden;
  height: 0%;
  width: 0%;
}

#radio1:checked ~ .navigation > .buttons > label[for="radio1"] > .button,
#radio2:checked ~ .navigation > .buttons > label[for="radio2"] > .button,
#radio3:checked ~ .navigation > .buttons > label[for="radio3"] > .button,
#radio4:checked ~ .navigation > .buttons > label[for="radio4"] > .button {
  background-color: aqua;
}

#radio1:checked ~ .slider > .s1 {
  margin-left: 0;
}
#radio2:checked ~ .slider > .s1 {
  margin-left: -25%;
}
#radio3:checked ~ .slider > .s1 {
  margin-left: -50%;
}
#radio4:checked ~ .slider > .s1 {
  margin-left: -75%;
}

#radio1:checked ~ .navigation > .text-container > .text > .t1 {
  margin-left: 0;
}
#radio2:checked ~ .navigation > .text-container > .text > .t1 {
  margin-left: -25%;
}
#radio3:checked ~ .navigation > .text-container > .text > .t1 {
  margin-left: -50%;
}
#radio4:checked ~ .navigation > .text-container > .text > .t1 {
  margin-left: -75%;
}